.main-btn {
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  background: transparent;
  color: #eae8e8;
  font-family: fantasy;
  cursor: pointer;
}
.main-btn:focus {
  outline: dashed 1px white;
}
a {
  font-weight: 900;
  color: yellow;
}